<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PbPb_Downloader.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MasterDownloader.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PbPb_Downloader.My.MySettings>
            <setting name="destFolder" serializeAs="String">
                <value />
            </setting>
        </PbPb_Downloader.My.MySettings>
        <MasterDownloader.My.MySettings>
            <setting name="destFolder" serializeAs="String">
                <value>downloaded</value>
            </setting>
        </MasterDownloader.My.MySettings>
    </userSettings>
</configuration>
